<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2></h2>
        <div class="close-button" (click)="closeModal()">
          <i class="fa-solid fa-xmark fa-2xl" style="color: #ffffff;"></i>
        </div>
      </div>
      <div class="modal-body">
        <!-- sección de Información del Resguardante -->
<div class="resguardante-section">
  <h3>Información del Resguardante</h3>
  <div class="resguardante-table-container">
    <table class="resguardante-table">
      <tbody>
        <tr>
          <th>Nombre completo:</th>
          <td>{{ trabajador.nombre }}</td>
        </tr>
        <tr>
          <th>No. de trabajador:</th>
          <td>{{ trabajador.numero }}</td>
        </tr>
        <tr>
          <th>Área de adscripción:</th>
          <td>{{ trabajador.area }}</td>
        </tr>
        <tr>
          <th>Área funcional:</th>
          <td>{{ trabajador.areaFuncional }}</td>
        </tr>
        <tr>
          <th>Ubicación:</th>
          <td>{{ trabajador.ubicacion }}</td>
        </tr>
        <tr>
          <th>Perfil Académico:</th>
          <td>{{ trabajador.perfilAcad }}</td>
        </tr>
        <tr>
          <th>Puesto:</th>
          <td>{{ trabajador.puesto }}</td>
        </tr>
        <tr>
          <th>Estatus:</th>
          <td>{{ trabajador.estatus }}</td>
        </tr>
        <tr>
          <th>Correo Personal:</th>
          <td>{{ trabajador.correoPersonal }}</td>
        </tr>
        <tr>
          <th>Correo Institucional:</th>
          <td>{{ trabajador.correoInstit }}</td>
        </tr>
        <tr>
          <th>RFC:</th>
          <td>{{ trabajador.rfcTrabaj }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
        
<!-- seccion de tabla de bienes -->
  <div class="bienes-section">
  <h3>Bienes a su disposición</h3>

  <div class="bienes-table" *ngIf="bienesAsignados.length > 0; else noBienes">
    <table>
      <thead>
        <tr>
          <th>No</th>
          <th>Nombre del bien</th>
          <th>Clasificación del bien</th>
          <th>Tipo de Resguardo</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bien of bienesAsignados; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ bien.nombreBien }}</td>
          <td>{{ bien.clasificacion }}</td>
          <td>{{ bien.tipoResguardo }}</td>

        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noBienes>
    <p id="noBienesAsig">El trabajador no tiene bienes asignados</p>
  </ng-template>
</div>      
      </div>
  
      <div class="modal-footer">
        <button class="btn-imprimir" type="button" (click)="openModalTipoResguardo()">Imprimir Resguardo</button>
      </div>
    </div>
  </div>

  
  
  
  
