* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
 
body {
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
}
#secInicio{ 
  height: 100%;
}


#aside {
  background-color: #222D32;
  float: left;
  width: 12%;
  height: calc(100vh - 50px) !important;
}

#menuAside {
  background-color: #1A2226;
  width: 100%;
  height: 35px;
}

#menuPalabra {
  width: fit-content;
  height: auto;
  margin-left: 15px;
  padding-top: 10px;
  position: relative;
}

.divEnlaces {
  width: 100%;
  height: 45px;
}

.iconoEnlace {
  float: left;
  width: 5px;
  margin-top: 2px;
  margin-left: 20px;
}

.textoEnlace {
  margin-left: 40px;
  margin-top: 4px;
  color: #C4ECFE;
}

#opcInicio {
  background-color: #ECF0F5;
  width: 88%;
  height: calc(100vh - 50px);
  overflow-y: auto;
  float: right;
  padding: 20px;  
}


#titulo {
  width: fit-content;
  height: fit-content;
  padding: 10px 0px 10px 20px;
}

#contOpc {
  background-color: white;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  border-top: 3px solid #441B69;
}
.opcBusqueda{

  width: 100%;
  height: 150px;
  display: inline-flex;
  flex-wrap: wrap;

}
.dropdown{
  width: 33%;
}
.search{
  width: 33%;
  border-bottom: 20px;
}

.dropdown label, .search label {
  font-weight: bold;
  margin-bottom: 5px;
  display: block;
}

.dropdown select, .search input {
  width: 80%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.search input {
  background: #f0f0f0;
}

.dropdown select:focus, .search input:focus {
  outline: none;
  border-color: #777;
}

#actions {
  width: 100%;
  display: flex;
  justify-content: flex-start;
}

.add-user {
  font-size: 24px;
  color: #673AB7;
  cursor: pointer;
}

#listado {
  width: 100%;
  margin-top: 20px; /* Asegura que haya un espacio entre la tabla y los elementos superiores */
}

/* Contenedor de la tabla*/
.table-container {
  overflow-x: auto;
  width: 100%;
}

.custom-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: auto;
}

/* Encabezado de la tabla */
.custom-table thead tr {
  background-color: #673AB7;
  color: white;
}

.custom-table thead th {
  padding: 10px;
  text-align: left;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}
.custom-table thead th.fixed-column {
  background-color: #673AB7; /* Color de fondo para la columna fija */
}
/* Estilo de las filas */
.custom-table tbody tr {
  color: black;
}

.custom-table tbody tr.even-row {
  background-color: white;
}

.custom-table tbody tr.odd-row {
  background-color: #F0F0F0;
}

.custom-table tbody td {
  padding: 10px;
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta contenido si es demasiado largo */
  text-overflow: ellipsis; /* Agrega "..." si el texto es muy largo */
}

/* Columna fija para las opciones */
.custom-table .fixed-column {
  position: sticky;
  right: 0;
  z-index: 1; /* Mantiene la prioridad visual de la columna */
  text-align: center; /* Centra el contenido horizontalmente */
}


.custom-table tbody tr.even-row td.fixed-column {
  background-color: white; /* Color de fondo para filas pares */
}

.custom-table tbody tr.odd-row td.fixed-column {
  background-color: #F0F0F0; /* Color de fondo para filas impares */
}
.custom-table tbody td.fixed-column i {
  margin: 0 5px; /* Agrega separación entre los íconos */
  cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}
/* Barra de desplazamiento horizontal */
.table-container::-webkit-scrollbar {
  height: 8px;
}

.table-container::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
  border-radius: 10px;
}

.table-container::-webkit-scrollbar-track {
  background-color: #E0E0E0;
}



.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pagination button {
  padding: 10px 20px;
  border: none;
  background-color: #673AB7;
  color: white;
  cursor: pointer;
  border-radius: 4px;
}

.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

.pagination span {
  font-size: 16px;
}
