<app-header></app-header>

<section id="secInicio">
  <app-aside></app-aside>
</section>

<section id="opcInicio">
  <div id="titulo">
    <font size="6">Lista de Trabajadores</font>
  </div>
  <section id="contOpc">
    <div id="tituloBusqueda">
      <font size="5">Opciones de búsqueda</font>
    </div>
    
    <div class="opcBusqueda">
      <div class="search">
        <label for="buscar">Nombre:</label>
        <input type="text" id="buscar" class="buscar" placeholder="Buscar" (input)="filtrarPorNombre($event)"/>
      </div>
      
      <div class="search">
        <label for="buscarNumero">No. de resguardante:</label>
        <input type="text" id="buscarNumero" class="buscar" placeholder="Buscar" [(ngModel)]="numeroBusqueda" (input)="filtrarPorNumero()"/>
      </div>                  

      <div class="dropdown">
        <label for="area">Seleccione área:</label>
        <select id="area" (change)="filtrarPorArea($event)">
          <option value="" disabled selected>Área</option>
          <option *ngFor="let area of areas" [value]="area">{{ area }}</option>
        </select>
      </div>
          
        <div class="dropdown">
          <label for="estatus">Seleccione Estatus:</label>
          <select id="estatus" (change)="filtrarPorEstatus($event)">
            <option value="" disabled selected>Estatus</option>
            <option value="ACTIVO">Activo</option>
            <option value="INACTIVO">Inactivo</option>
            <option value="AMBAS">Ambos</option>
          </select>
        </div>
                    
    </div>

    <div id="actions">
      <div class="add-user" >
        <button mat-raised-button color="primary" (click)="agregarPersonal()">
          <i class="fa fa-user-plus" ></i>
        </button>
      </div>
    </div>

    <section id="listado">
      <div class="table-container">
        <table class="custom-table">
          <thead>
            <tr>
              <th>Nombre Completo</th>
              <th>Número</th>
              <th>Área</th>
              <th>Ubicación</th>
              <th>Perfil Académico</th>
              <th>Puesto</th>
              <th>Estatus</th>
              <th>Correo Personal</th>
              <th>Correo Institucional</th>
              <th class="fixed-column">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trabajador of paginatedTrabajadores; let i = index" [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
              <td>{{ trabajador.nombre }}</td>
              <td>{{ trabajador.numero }}</td>
              <td>{{ trabajador.area }}</td>
              <td>{{ trabajador.ubicacion }}</td>
              <td>{{ trabajador.perfilAcad }}</td>
              <td>{{ trabajador.puesto }}</td>
              <td>{{ trabajador.estatus }}</td>
              <td>{{ trabajador.correoPersonal }}</td>
              <td>{{ trabajador.correoInstit }}</td>
              <td class="fixed-column">
                <i class="fa fa-eye" style="color: #00A65A;" (click)="verrPersonal(trabajador.idTrabajador)"></i>
                <i class="fa-regular fa-pen-to-square" style="color: #6FC6F9;" (click)="editarPersonal(trabajador)"></i>                
                <i class="fa-solid fa-circle-xmark" style="color: #FF346A;" (click)="eliminarPersonal(trabajador.idTrabajador)"></i>
              </td>
            </tr>
          </tbody>          
          
        </table>
      </div>
      <div class="pagination">
        <button (click)="prevPage()" [disabled]="currentPage === 1">Anterior</button>
        <span>Página {{ currentPage }} de {{ Math.ceil(trabajadoresFiltrados.length / itemsPerPage) }}</span>
        <button (click)="nextPage()" [disabled]="currentPage * itemsPerPage >= trabajadoresFiltrados.length">Siguiente</button>
      </div>            
    </section>    
  </section>
</section>

<app-footer></app-footer>
<router-outlet></router-outlet>
