<app-header></app-header>

<section id="secInicio">
  <aside id="aside">
    <div id="menuAside">
      <div id="menuPalabra">
      <FONT COLOR=#37646F size=2>MENÚ</FONT>
      </div>
    </div>

    <a href="../inicio/"class="casa">
  <div class="divEnlaces">
  <div class="iconoEnlace">
  <i class="fa-solid fa-house-chimney fa-xs"style="color: #02a22a;" ></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Administrativos-Inicio</p>
  </div>
  </div>
  </a>

  <a href="../inventario/"class="archivo">
  <div class="divEnlaces">
  <div class="iconoEnlace">
  <i class="fa-solid fa-box-archive fa-xs" style="color: #DD4B39;"></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Inventario</p>
  </div>
  </div>
  </a>

  <a href="../personal/"class="usuarios">
  <div class="divEnlaces">
  <div class="iconoEnlace">

  <i class="fa-solid fa-users fa-xs" style="color: #02a22a;"></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Personal</p>
  </div>
  </div>
  </a>

  <div class="divEnlaces">
    <div class="iconoEnlace">
      <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
    </div>
    <div class="textoEnlace">
    <p style="font-size: 14px">Perfil</p>
    </div>
    </div>

    <div class="divEnlaces">
      <div class="iconoEnlace">
      <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
      </div>
      <div class="textoEnlace">
      <p style="font-size: 14px">Terminar sesión</p>
      </div>
      </div>
  </aside>
</section>

<section id="opcInicio">
  <div id="titulo">
    <font size="6">Lista de Trabajadores</font>
  </div>
  <section id="contOpc">
    <div id="tituloBusqueda">
      <font size="5">Opciones de búsqueda</font>
    </div>
    <div class="opcBusqueda">
    <div class="search">
      <label for="buscar">Nombre:</label>
      <input type="text" class="buscar" placeholder="Buscar">
    </div>
    <div class="search">
      <label for="buscar">No. de resguardante:</label>
      <input type="text" class="buscar" placeholder="Buscar">
    </div>

    <div class="dropdown">
      <label for="area">Seleccione área:</label>
      <select id="area">
        <option value="" disabled selected>Área</option>
        <option value="administracion">Administración</option>
        <option value="academica">Académica</option>
        <option value="servicios_estudiantiles">Servicios Estudiantiles</option>
      </select>
    </div>
    <div class="dropdown">
      <label for="estatus">Seleccione Estatus:</label>
      <select id="estatus">
        <option value="" disabled selected>Estatus</option>
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
    </div>
  </div>

    <div id="actions">
      <div class="add-user" >
        <button mat-raised-button color="primary" (click)="agregarPersonal()">
        <i class="fa fa-user-plus" ></i>
      </button>
      </div>

    </div>

    <section id="listado">
      <div class="table-container">
        <table class="custom-table">
          <thead>
            <tr>
              <th>Nombre Completo</th>
              <th>Número</th>
              <th>Área</th>
              <th>Ubicación</th>
              <th>Perfil Académico</th>
              <th>Puesto</th>
              <th>Estatus</th>
              <th>Correo Personal</th>
              <th>Correo Institucional</th>
              <th class="fixed-column">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trabajador of trabajadores; let i = index" [ngClass]="{ 'even-row': i % 2 === 0, 'odd-row': i % 2 !== 0 }">
              <td>{{ trabajador.nombre }}</td>
              <td>{{ trabajador.numero }}</td>
              <td>{{ trabajador.area }}</td>
              <td>{{ trabajador.ubicacion }}</td>
              <td>{{ trabajador.perfilAcad }}</td>
              <td>{{ trabajador.puesto }}</td>
              <td>{{ trabajador.estatus }}</td>
              <td>{{ trabajador.correoPersonal }}</td>
              <td>{{ trabajador.correoInstit }}</td>
              <td class="fixed-column">
                
                <i class="fa fa-eye" style="color: #00A65A;" (click)="verrPersonal(trabajador.idTrabajador)"></i>
                <i class="fa-regular fa-pen-to-square" style="color: #6FC6F9;" (click)="editarPersonal()"></i>
                <i class="fa-solid fa-circle-xmark" style="color: #FF346A;" (click)="eliminarPersonal(trabajador.idTrabajador)"></i>

              </td>
            </tr>
          </tbody>
        </table>
      </div>


    </section>
  </section>

</section>


