<app-header></app-header>

<section id="secInicio">
  <aside id="aside">
    <div id="menuAside">
      <div id="menuPalabra">
      <FONT COLOR=#37646F size=2>MENÚ</FONT>
      </div>
    </div>

    <a href="../inicio/"class="casa">
  <div class="divEnlaces">
  <div class="iconoEnlace">
  <i class="fa-solid fa-house-chimney fa-xs"style="color: #02a22a;" ></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Administrativos-Inicio</p>
  </div>
  </div>
  </a>

  <a href="../inventario/"class="archivo">
  <div class="divEnlaces">
  <div class="iconoEnlace">
  <i class="fa-solid fa-box-archive fa-xs" style="color: #DD4B39;"></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Inventario</p>
  </div>
  </div>
  </a>

  <a href="../personal/"class="usuarios">
  <div class="divEnlaces">
  <div class="iconoEnlace">
  <i class="fa-solid fa-users fa-xs" style="color: #02a22a;"></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Personal</p>
  </div>
  </div>
  </a>

  <div class="divEnlaces">
    <div class="iconoEnlace">
      <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
    </div>
    <div class="textoEnlace">
    <p style="font-size: 14px">Perfil</p>
    </div>
    </div>

    <div class="divEnlaces">
      <div class="iconoEnlace">
      <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
      </div>
      <div class="textoEnlace">
      <p style="font-size: 14px">Terminar sesión</p>
      </div>
      </div>
  </aside>


</section>

<section id="opcInicio">
  <div id="titulo">
    <font size="5">Lista de Trabajadores</font>
  </div>
  <section id="contOpc">
    <div class="dropdown">
      <label for="area">Seleccione área:</label>
      <select id="area">
        <option value="" disabled selected>Área</option>
        <option value="administracion">Administración</option>
        <option value="academica">Académica</option>
        <option value="servicios_estudiantiles">Servicios Estudiantiles</option>
      </select>
    </div>
    <div class="dropdown">
      <label for="estatus">Seleccione Estatus:</label>
      <select id="estatus">
        <option value="" disabled selected>Estatus</option>
        <option value="activo">Activo</option>
        <option value="inactivo">Inactivo</option>
      </select>
    </div>
    <div class="search">
      <label for="buscar">Buscar:</label>
      <input type="text" id="buscar" placeholder="Buscar">
    </div>
    <div id="actions">
      <div class="add-user">
        <i class="fa fa-user-plus"></i>
      </div>
    </div>

    <section id="listado">
      <table>
        <thead>
          <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Teléfono</th>
            <th>Correo</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Diego</td>
            <td>Escamilla</td>
            <td>7731685330</td>
            <td>diego.miguelgmail.com</td>
            <td><i class="fa fa-eye"></i></td>
          </tr>

        </tbody>
      </table>
    </section>
  </section>

</section>

