<div class="modal modal-export">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Seleccione el tipo de reporte</h2>
      <div class="close-button" (click)="close()">
        <i class="fa-solid fa-xmark"></i>
      </div>
    </div>
    <div class="modal-body">
      <div class="checkbox-group">
        <label>
          <input type="checkbox" [(ngModel)]="exportPdf" />
          PDF
        </label>
        <label>
          <input type="checkbox" [(ngModel)]="exportExcel" />
          Excel
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn-primary" (click)="aceptar()">Aceptar</button>
      <button class="btn-secondary" (click)="cancelar()">Cancelar</button>
    </div>
  </div>
</div>
