<app-header></app-header>
<section id="secInicio">
<app-aside></app-aside>
<section id="opcInicio">
    <div id="titulo">
        <Font size="5">Servicios para el área de Inventarios</Font>
    </div>
    <section id="contOpc">
        <a href="../inventario/">
        <article id="actividadAzul">
        <div class="izOpc">
          <div id="txtOpc">
            <Font size="6" color="#FFFFFF">Inventario</Font>
          </div>
          <div id="txtOpc2">
            <Font size="4" color="#FFFFFF">Bienes</Font>
          </div>        
        </div>
        <div class="derOpc">
          <i class="fa-solid fa-box-archive fa-5x iconOpc" style="color: #00629c;"></i>
        </div>
        <div class="footerOpcAz">
          <font size="2" color="#FFFFFF">ir a la liga</font>
          <i class="fa-solid fa-circle-arrow-right" style="color: #ffffff; margin-left: 8px;"></i>
        </div>
        </article>
      </a>      

      <a href="../personal/">
        <article id="actividadNaranja">
          <div class="izOpc">
          <div id="txtOpc">
            <Font size="6" color="#FFFFFF">Resguardos</Font>
          </div>
          <div id="txtOpc2">
            <Font size="4" color="#FFFFFF">Resguardantes</Font>
          </div>
          
        </div>
        <div class="derOpc">
          <i class="fa-solid fa-users fa-5x iconOpc" style="color: #bc4031; "></i>
        </div>
        
        <div class="footerOpcNa">
          <font size="2" color="#FFFFFF">ir a la liga</font>
          <i class="fa-solid fa-circle-arrow-right" style="color: #ffffff; margin-left: 8px; "></i>
        </div>
        </article>
      </a>

      <a href="../administradores/">
        <article id="actividadAzul2">
          <div class="izOpc">
          <div id="txtOpc">
            <Font size="6" color="#FFFFFF">Administradores</Font>
          </div>
          <div id="txtOpc3">
            <Font size="4" color="#FFFFFF">Administradores y permisos</Font>
          </div>
          
        </div>
        <div class="derOpc">
          <i class="fa-solid fa-user-tie fa-5x iconOpc" style="color: #00629c;"></i>
        </div>
        
        <div class="footerOpcAz">
          <font size="2" color="#FFFFFF">ir a la liga</font>
          <i class="fa-solid fa-circle-arrow-right" style="color: #ffffff; margin-left: 8px; "></i>
        </div>
        </article>
      </a>

    </section>
</section>


</section>
<app-footer></app-footer>
<router-outlet></router-outlet>
