<section id="secInicio">
<app-header></app-header>

<aside id="aside">
  <div id="menuAside">
    <div id="menuPalabra">
    <FONT COLOR=#37646F size=2>MENÚ</FONT>
    </div>
  </div>

<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-solid fa-house-chimney fa-xs"style="color: #02a22a;" ></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Alumnos -Inicio</p>
</div>
</div>

<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-solid fa-money-bill-1 fa-sm" style="color: #02a22a;"></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Pagos</p>
</div>
</div>

<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-brands fa-google fa-xs" style="color: #02a22a;"></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Correo</p>
</div>
</div>


</aside>
<section id="opcInicio">
    <div id="titulo">
        <h2>Servicios para Administrativos</h2>
    </div>
    <section id="contOpc">
        <article id="actividadAzul">
        </article>

        <article id="actividadNaranja">
        </article>

    </section>
</section>

<app-footer></app-footer>
</section>



<router-outlet></router-outlet>
