<app-header></app-header>
<section id="secInicio">

<aside id="aside">
  <div id="menuAside">
    <div id="menuPalabra">
    <FONT COLOR=#37646F size=2>MENÚ</FONT>
    </div>
  </div>

  <a href="#"class="casa">
<div class="divEnlaces">
<div class="iconoEnlace">  
<i class="fa-solid fa-house-chimney fa-xs"style="color: #02a22a;" ></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Administrativos-Inicio</p>
</div>
</div>
</a>

<a href="#"class="archivo">
<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-solid fa-box-archive fa-xs" style="color: #DD4B39;"></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Inventario</p>
</div>
</div>
</a>

<a href="#"class="usuarios">
<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-solid fa-users fa-xs" style="color: #02a22a;"></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Personal</p>
</div>
</div>
</a>

<div class="divEnlaces">
  <div class="iconoEnlace">
    <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Perfil</p>
  </div>
  </div>

  <div class="divEnlaces">
    <div class="iconoEnlace">
    <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
    </div>
    <div class="textoEnlace">
    <p style="font-size: 14px">Terminar sesión</p>
    </div>
    </div>
</aside>

<section id="opcInicio">
    <div id="titulo">
        <Font size="5">Servicios para Administrativos</Font>
    </div>
    <section id="contOpc">
        <article id="actividadAzul">
        <div class="izOpc">
          <div id="txtOpc">
            <Font size="6" color="#FFFFFF">Inventario</Font>
          </div>
          <div id="txtOpc2">
            <Font size="4" color="#FFFFFF">Bienes</Font>
          </div>
        </div>
        <div class="footerOpcAz">
          <font size="2" color="#FFFFFF">ir a la liga</font>
        </div>
        </article>

        <article id="actividadNaranja">
          <div class="izOpc">
          <div id="txtOpc">
            <Font size="6" color="#FFFFFF">Personal</Font>
          </div>
          <div id="txtOpc2">
            <Font size="4" color="#FFFFFF">Docentes y personal</Font>
          </div>
        </div>
        <div class="footerOpcNa">
          <font size="2" color="#FFFFFF">ir a la liga</font>
        </div>
        </article>

    </section>
</section>

<app-footer></app-footer>
</section>



<router-outlet></router-outlet>
