#aside{
    background-color: #222D32;
    float: left;
    width: 12%;
    height: calc(100vh - 50px);
  }
  #menuAside{
    background-color: #1A2226;
    width: 100%;
    height: 35px;
  }
  #menuPalabra{
    width: fit-content;
    height: auto;
    margin-left: 15px;
    padding-top: 10px;
    position: relative;
  }
  
  .divEnlaces{
    /*border: 2px solid green*/
    width: 100%;
    height: 45px;
    }
  
  .iconoEnlace{
    float: left;
    width: 5px;
    margin-top: 2px;
    margin-left: 20px;
    }
  
   .textoEnlace{
      margin-left: 40px;
      margin-top: 4px;
      color: #C4ECFE;
    }
  