.footer{
    height: 40px;
    /*border: 1px solid green;*/
    width: 84.4%;
    float: right;
    display: flex;
    align-items: center;  
    margin-top: 10px;  
}

#uniFooter{
    margin-left: 2%;
    width: 93%;
    
}
#uppFooter{
    margin-bottom: 10px;
    height: fit-content;
    margin-left: 10px;
}

b{
    font-size: 14px;
}
p{
    font-size: 15px;
    
}