<header class="container-fluid row bg-body-tertiary">
    <nav class="navbar navbar-expand-lg" id="nav">
    <div id="logoHome">
    <img src="assets/logoUpp2.jpg" id="logoUpp">
    <FONT size=0.6 id="Siupp">SISTEMA
      <br>
      INTEGRAL DE
      <br> INFORMACIÓN</FONT>
    </div>

    <div id="logoHome">
      <i class="fa-solid fa-bars fa-lg" style="color: #ffffff;"></i>
    </div>

  <div id="botonesNav">
    <i class="fa-solid fa-bell" style="color: #ffffff;" id="notificacion"></i>
    <img src="assets/user.png" class="rounded-circle" id="perfil">
    <div id="nombreYtutor">
      <span id="Siupp2">REYES FUENTES MELANY JACQUELINE |</span>
      <span id="Siupp3">TUTOR: GONZALEZ PERALTA MAYRA FABIOLA</span>
    </div>
  </div>


    </nav>
    </header>
<router-outlet></router-outlet>
