
<header class="container-fluid row bg-body-tertiary">
  <nav class="navbar navbar-expand-lg" id="nav">
    <div id="logoHome">
      <img src="assets/logoUpp2.jpg" id="logoUpp">
      <FONT size=0.6 id="Siupp">SISTEMA DE
      <br>
      INVENTARIO
      <br>UPP</FONT>      
    </div>

    <div id="botonesNav">
      <i class="fa-solid fa-bell fa-xl" style="color: #ffffff;" id="notificacion"></i>
      <img src="assets/user.png" class="rounded-circle" id="perfil">
      <div id="nombreYtutor">
        <h4>REYES FUENTES MELANY JACQUELINE </h4>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
