<app-header></app-header>
<section id="secInicio">
<aside id="aside">
  <div id="menuAside">
    <div id="menuPalabra">
      <FONT COLOR=#37646F size=2>MENÚ</FONT>
      </div>
  </div>

  <a href="../inicio/"class="casa">
<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-solid fa-house-chimney fa-xs"style="color: #02a22a;" ></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Inventario-Inicio</p>
</div>
</div>
</a>

<a href="../inventario/"class="archivo">
<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-solid fa-box-archive fa-xs" style="color: #DD4B39;"></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Inventario</p>
</div>
</div>
</a>

<a href="../personal/"class="usuarios">
<div class="divEnlaces">
<div class="iconoEnlace">
<i class="fa-solid fa-users fa-xs" style="color: #02a22a;"></i>
</div>
<div class="textoEnlace">
<p style="font-size: 14px">Personal</p>
</div>
</div>
</a>

<div class="divEnlaces">
  <div class="iconoEnlace">
    <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
  </div>
  <div class="textoEnlace">
  <p style="font-size: 14px">Perfil</p>
  </div>
  </div>

  <div class="divEnlaces">
    <div class="iconoEnlace">
    <i class="fa-regular fa-circle fa-xs" style="color: #FFFFFF;"></i>
    </div>
    <div class="textoEnlace">
    <p style="font-size: 14px">Terminar sesión</p>
    </div>
    </div>
</aside>

<section id="opcInicio">
  <div id="titulo">
    <Font size="5">Inventario de Bienes</Font>
  </div>
    <section id="contOpc">
      <div id="iconAgregar">
        <button mat-raised-button color="primary" (click)="agregarBien()">
          <i class="fa-solid fa-circle-plus"></i>
        </button>
      </div>

      <div id="table-container">
        <table >
          <thead>
            <tr>
              <th>Número de inventario anterior</th>
              <th>Número de inventario armonizado</th>
              <th>Clave de control</th>
              <th>Nombre del bien</th>
              <th>Clasificación del Bien</th>
              <th>Clasificación adicional del Bien</th>
              <th>Nombre del Bien (catálogo del CONAC)</th>
              <th>Descripción del Bien</th>
              <th>Marca</th>
              <th>Modelo</th>
              <th>Número de serie</th>
              <th>Aplica registro contable Si/No</th>
              <th>Grupo bienes (contabilidad)</th>
              <th>Grupo bienes (CONAC)</th>
              <th>Categoría (CONAC)</th>
              <th>Subcategoría (CONAC)</th>
              <th>Tipo de alta (Compra, Comodato, Donación, Menores a 70 UMA, Otro)</th>
              <th>Se cuenta con Factura física/Documento oficial de ingreso del Bien Si/No</th>
              <th>Fecha recepción de la facturafísica/Documento oficial de ingreso del Bien</th>
              <th>Número de factura</th>
              <th>Fecha de factura</th>
              <th>Fecha de alta del Bien</th>
              <th>Costo adquisición del Bien</th>
              <th>Costo adquisición del Bien (Registrado en contabilidad)</th>
              <th>Con depreciación Si/No</th>
              <th>Frecuencia depreciación</th>
              <th>% de Depreciación anual</th>
              <th>Total meses a depreciar</th>
              <th>Importe de depreciación mensual</th>
              <th>Monto depreciado</th>
              <th>Valor en libros</th>
              <th>Meses pendientes depreciar</th>
              <th>Clave del proyecto</th>
              <th>Aplica para proyecto Si/No</th>
              <th>Partida presupuestal</th>
              <th>Fuente de financiamiento</th>
              <th>Número de cuenta</th>
              <th>Nombre Proveedor</th>
              <th>RFC del proveedor</th>
              <th>Domicilio Fiscal del proveedor</th>
              <th>Bienes menores a 35 SMDF 2017 y años Anteriores y 70 veces el valor de la UMA a partir del años 2018</th>
              <th>Tipo de resguardo a elaborar</th>
              <th>Asignación (Nombre del resguardante)</th>
              <th>Número de resguardo</th>
              <th>Área de adscripción del resguardante</th>
              <th>Ubicación física/área funcional del resguardante</th>
              <th>Observaciónes 1</th>
              <th>Observaciónes 2</th>
              <th>Comentarios del área de contabilidad</th>
              <th>Seguimiento del cómite de desincorporación de Bienes</th>
              <th>Estatus del bien</th>
              <th>Motivo de baja del bien</th>
              <th>Fecha de baja del bien</th>
              <th>Año de adquisición</th>
              <th>Mes de adquisición</th>
              <th>Evidencia Fotográfica del bien</th>
              <th>Perfil académico del resguardante</th>
              <th>Puesto</th>
              <th>Estatus laboral del resguardante</th>
              <th>Correo electrónico personal del resguardante</th>
              <th>Correo electrónico institucional del resguardante</th>
              <th>Resguardo 2016 y años anteriores</th>
              <th>Resguardo 2017 Si/No</th>
              <th>Resguardo 2018 Si/No</th>
              <th>Resguardo 2019 Si/No</th>
              <th>Resguardo 2020 Si/No</th>
              <th>Resguardo 2021 Si/No</th>
              <th>Resguardo 2022 Si/No</th>
              <th>Resguardo 2023 Si/No</th>
              <th>Resguardo 2024 Si/No</th>
              <th>Estatus del resguardo</th>
              <th>Fecha de generación del Último resguardo</th>
              <th>El bien cuenta con Etiqueta Si/No</th>
              <th class="fixed-column">Opciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bien of bienes">
              <td>{{ bien.numInvAnt }}</td>
              <td>{{ bien.numInvArm }}</td>
              <td>{{ bien.cControl }}</td>
              <td>{{ bien.nombreBien }}</td>
              <td>{{ bien.clasificacion }}</td>
              <td>{{ bien.clasAdic }}</td>
              <td>{{ bien.nombreCat }}</td>
              <td>{{ bien.descripcion }}</td>
              <td>{{ bien.marca }}</td>
              <td>{{ bien.modelo }}</td>
              <td>{{ bien.numSerie }}</td>
              <td>{{ bien.aplicaRegCont }}</td>
              <td>{{ bien.grupoBienesCont }}</td>
              <td>{{ bien.grupoBienesConac }}</td>
              <td>{{ bien.categoria }}</td>
              <td>{{ bien.subcategoria }}</td>
              <td>{{ bien.tipoAlta }}</td>
              <td>{{ bien.facturaFisica }}</td>
              <td>{{ bien.fechaRecFact }}</td>
              <td>{{ bien.numFact }}</td>
              <td>{{ bien.fechaFact }}</td>
              <td>{{ bien.fechaAlta }}</td>
              <td>{{ bien.costoAdq }}</td>
              <td>{{ bien.costoAdqCont }}</td>
              <td>{{ bien.depreciacion }}</td>
              <td>{{ bien.frecDepre }}</td>
              <td>{{ bien.porcDepAnual }}</td>
              <td>{{ bien.mesesDepre }}</td>
              <td>{{ bien.impMensDepre }}</td>
              <td>{{ bien.montoDepre }}</td>
              <td>{{ bien.valLibros }}</td>
              <td>{{ bien.mesesPendDepre }}</td>
              <td>{{ bien.claveProyecto }}</td>
              <td>{{ bien.apProye }}</td>
              <td>{{ bien.partPres }}</td>
              <td>{{ bien.fuenteFinan }}</td>
              <td>{{ bien.numCuenta }}</td>
              <td>{{ bien.proveedor }}</td>
              <td>{{ bien.rfcProveedor }}</td>
              <td>{{ bien.domProveedor }}</td>
              <td>{{ bien.bienesMenores }}</td>
              <td>{{ bien.tipoResguardo }}</td>
              <td>{{ bien.nomRes }}</td>
              <td>{{ bien.numRes }}</td>
              <td>{{ bien.areaRes }}</td>
              <td>{{ bien.ubiRes }}</td>
              <td>{{ bien.observ1 }}</td>
              <td>{{ bien.observ2 }}</td>
              <td>{{ bien.comentCont }}</td>
              <td>{{ bien.seguimDesinc }}</td>
              <td>{{ bien.estatusBien }}</td>
              <td>{{ bien.motBaja }}</td>
              <td>{{ bien.fechaBaja }}</td>
              <td>{{ bien.aAdquisicion }}</td>
              <td>{{ bien.mAdquisicion }}</td>
              <td>{{ bien.fotoBien }}</td>
              <td>{{ bien.perfilRes }}</td>
              <td>{{ bien.puestoRes }}</td>
              <td>{{ bien.estatusRes }}</td>
              <td>{{ bien.correoPerRes }}</td>
              <td>{{ bien.correoInstRes }}</td>
              <td>{{ bien.res16Ant }}</td>
              <td>{{ bien.res17 }}</td>
              <td>{{ bien.res18 }}</td>
              <td>{{ bien.res19 }}</td>
              <td>{{ bien.res20 }}</td>
              <td>{{ bien.res21 }}</td>
              <td>{{ bien.res22 }}</td>
              <td>{{ bien.res23 }}</td>
              <td>{{ bien.res24 }}</td>
              <td>{{ bien.estatusResguardo }}</td>
              <td>{{ bien.ultimoResguardo }}</td>
              <td>{{ bien.etiqueta }}</td>
              <td class="fixed-column">
                <i class="fa fa-eye" style="color: #00A65A;" (click)="VerBien(bien.idBien)"></i>
                <i class="fa-regular fa-pen-to-square" style="color: #6FC6F9;" (click)="editarBien(bien)"></i>                
                <i class="fa-solid fa-circle-xmark" style="color: #FF346A;" (click)="eliminarBien(bien.idBien)"></i>
              </td>
            </tr>
          </tbody>
        </table>
        
      </div>
    </section>
</section>

</section>
<app-footer></app-footer>
<router-outlet></router-outlet>

