<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>


<div class="modal">

  <div class="modal-content">
    <h3 id="txtPregunta">¿Estas seguro que deseas eliminar PERMANENTEMENTE al trabajador?</h3>

      </div>
      <div class="modal-body">
        <div class="form-group">
          <button class="ELIMINAR" type="submit">ELIMINAR</button>
      </div>

      <div class="form-group">
        <button class="CANCELAR" type="submit">CANCELAR</button>
    </div>

      </div>
  </div>
