<app-header></app-header>
<section id="contRecu">
<aside id="aside">
    <div id="menuAside">
      <div id="menuPalabra">
      <FONT COLOR=#37646F size=2>MENÚ</FONT>
      </div>
    </div>
  </aside>

<section class="formCont">
    <h2>USUARIOS</h2>
    <div class="formulario-contenido">
        
        <h3>Recuperar contraseña</h3>
        <form>
            <div class="campo-formulario">
                <label for="matricula">Matrícula o No. de trabajador:</label>
                <input type="text" id="matricula" name="matricula">
            </div>
            <div class="campo-formulario">
                <label for="email">Correo electrónico:</label>
                <input type="email" id="email" name="email">
            </div>
            <button type="submit" id="buttonSol">Solicitar</button>
        </form>
    </div>
</section>
</section>