#body {
  background-color: #d2d6de;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  width: 100%;
}

#contenedorLogin {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 20%; /* Ancho del contenedor ajustado */
  text-align: center;
}

#upp {
  margin-bottom: 20px;
  text-align: center;
}

#upp-title {
  font-size: 3em;
  color: #444444;
  font-weight: bold;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%; /* Ancho completo para dejar espacio al ícono */
  padding: 10px 40px 10px 10px; /* Espacio derecho ajustado para el ícono */
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container i {
  position: absolute;
  top: 50%; /* Centrado vertical */
  right: 10px; /* Posición del ícono al lado derecho */
  transform: translateY(-50%); /* Ajuste para centrar verticalmente */
  color: #9e9e9e;
  pointer-events: none; /* Para que el ícono no interfiera con la interacción del input */
}

button {
  float: right;
  width: 30%; /* Botón alineado con los inputs */
  padding: 10px;
  background-color: #441b69;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

button:hover {
  background-color: #35124e;
}
