#contenedorLogin{
    width: 100%;
    height: 535px;
    margin: 0;
    padding: 70px 0px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background-color: #D2D6DE;

}
#upp{

    height: fit-content;
    width: fit-content;
    margin-bottom: 20px;
    position: relative;
    margin-left: 47%;

}
#Login{
    height: 65%;
    width: 38%;
    background-color: white;
    display: flexbox;
    align-items: center;
    justify-content: center;
    margin-left: 470px;
    padding: 20px 0px;

}

.itemForm{
    width: fit-content;
    margin-left: 195px;
}
.itemForm2{
    width: 400px;
    height: 35px;
    margin-left: 40px;
    
}
input{
    border: 1px solid black;
}
input::placeholder {
    font-size: 1.5em;
  }
  input::target-text{

  }

  button {
    background-color: #441B69;;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    float: right;
    margin-right: 90px;
}

#textOlv{

    position: relative;
    margin-left: 14%;
    bottom: -45px;


}

.usLogin{
    max-width: 420px;
    position: relative;
    align-items: center;
}
.iconoLogin{
position: absolute;
  display: block;
  bottom: 12px;
  right: 0px;
}
