body {
  background-color: #D2D6DE;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#contenedorLogin {
  background-color: white;
  border-radius: 3px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 40px;
  width: 100%;
  max-width: 400px;
  text-align: center;

}

#upp {
  margin-bottom: 20px;
}

#upp font {
  font-size: 2.5em;
  color: #444444;
  font-weight: bold;
}

#Login label {
  display: block;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: #444444;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.input-container input {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.input-container i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  color: #9e9e9e;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #441B69;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  margin-top: 10px;
}

button:hover {
  background-color: #35124e;
}

#textOlv {
  display: block;
  margin-top: 10px;
  color: #441B69;
  text-decoration: none;
}

#textOlv:hover {
  text-decoration: underline;
}


