<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inventario</title>

</head>
<body>
    <section id="contenedorLogin">
        <div id="upp">
            <font size="6.5">UPP</font>
        </div>
        <article id="Login">
                <label class="itemForm">Iniciar sesión</label>
                <form action="/inicio" method="post">
                    <ul>
                            <div class="usLogin">
                                <input #matriculaLogin class="itemForm2" type="text" maxlength="10" id="matriculaLogin" name="matLog" placeholder="Usuario" required>
                            <i class="fa-solid fa-user iconoLogin" style="color: #9e9e9e;"></i>
                            </div>
                            <br><br><br>
                            <div class="usLogin">
                            <input class="itemForm2" type="password" id="contraLogin" name="contLog" placeholder="Contraseña" required>
                            <i class="fa-solid fa-lock iconoLogin" style="color: #9e9e9e;"></i>
                            </div>
                    </ul>
                    <button type="submit">Entrar</button>
                    <a href="/recu" id="textOlv">Olvide mi contraseña</a>
                </form>
        </article>
    </section>

</body>
</html>




<router-outlet></router-outlet>
