<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="login.component.css">
</head>
<body>
    <div id="upp">
      <h1 id="upp-title">UPP</h1>
    </div>
    <section id="contenedorLogin">
      <article id="Login">
          <form action="/inicio" method="post">
              <div class="input-container">
                  <input type="text" id="matriculaLogin" name="matLog"  placeholder="Usuario" required>
                  <i id="iconoUsu" class="fas fa-user"></i>
              </div>
              <div class="input-container">
                  <input type="password" id="contraLogin" name="contLog" placeholder="Contraseña" required>
                  <i id="iconoContra" class="fas fa-lock"></i>
              </div>
              <button type="submit">Entrar</button>
              <a href="/recu" id="textOlv">Olvide mi contraseña</a>
          </form>
      </article>

  </section>
</body>
</html>





<router-outlet></router-outlet>
