<app-header></app-header>

<section id="secInicio">
  <app-aside></app-aside>
</section>

<section id="opcInicio">
  <div id="titulo">
    <font size="6">Administradores del área de Inventario</font>
  </div>
  <section id="contOpc">
    <div id="btnAgregar">
      <button id="btnAddAdmin" (click)="agregarAdministrador()">
        <i class="fa-solid fa-user-plus"></i>
      </button>
    </div>
    <div id="tablaAdministradores">
      <table>
        <thead>
          <tr>
            <th>No.</th>
            <th>Nombres</th>
            <th>Apellidos</th>
            <th>Correo</th>
            <th>Permiso</th>
            <th>Detalles</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let admin of administradores; let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{ admin.nombres }}</td>
            <td>{{ admin.apellidos }}</td>
            <td>{{ admin.correo }}</td>
            <td>{{ admin.permiso }}</td>
            <td>
              <i class="fa-solid fa-pen-to-square fa-xl" 
       style="color: #37646F; cursor: pointer;" 
       (click)="editarAdministrador(admin)">
    </i>
              <i id="iconoEliminar" class="fa-solid fa-trash fa-lg" style="color: #DD4B39; cursor: pointer;" (click)="eliminarAdministrador(admin.id_administrador)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </section>



</section>



