<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </head>
  
  <div class="modal">
    <div class="modal-content">
      <div class="modal-header">
        <h2></h2>
        <div class="close-button" (click)="cerrarModal()">
          <i class="fa-solid fa-xmark fa-2xl" style="color: #ffffff;"></i>
        </div>
      </div>
  
      <div class="modal-body">
        <!-- sección de “Información del Bien” -->
<div class="bien-section" *ngIf="bien">
  <h3>Información del Bien</h3>
  <div class="bien-table-container">
    <table class="bien-table">
      <tbody>
        <tr>
          <th>Número de inventario anterior:</th>
          <td>{{ bien.numInvAnt }}</td>
        </tr>
        <tr>
          <th>Número de inventario armonizado:</th>
          <td>{{ bien.numInvArm }}</td>
        </tr>
        <tr>
          <th>Clave de control:</th>
          <td>{{ bien.cControl }}</td>
        </tr>
        <tr>
          <th>Nombre del bien:</th>
          <td>{{ bien.nombreBien }}</td>
        </tr>
        <tr>
          <th>Clasificación del Bien:</th>
          <td>{{ bien.clasificacion }}</td>
        </tr>
        <tr>
          <th>Clasificación adicional del Bien:</th>
          <td>{{ bien.clasAdic }}</td>
        </tr>
        <tr>
          <th>Nombre del Bien (catálogo):</th>
          <td>{{ bien.nombreCat }}</td>
        </tr>
        <tr>
          <th>Descripción:</th>
          <td>{{ bien.descripcion }}</td>
        </tr>
        <tr>
          <th>Marca:</th>
          <td>{{ bien.marca }}</td>
        </tr>
        <tr>
          <th>Modelo:</th>
          <td>{{ bien.modelo }}</td>
        </tr>
        <tr>
          <th>Número de serie:</th>
          <td>{{ bien.numSerie }}</td>
        </tr>
        <tr>
          <th>Aplica registro contable:</th>
          <td>{{ bien.aplicaRegCont }}</td>
        </tr>
        <tr>
          <th>Grupo de Bienes (Contabilidad):</th>
          <td>{{ bien.grupoBienesCont }}</td>
        </tr>
        <tr>
          <th>Grupo de Bienes (CONAC):</th>
          <td>{{ bien.grupoBienesConac }}</td>
        </tr>
        <tr>
          <th>Categoría:</th>
          <td>{{ bien.categoria }}</td>
        </tr>
        <tr>
          <th>Subcategoría:</th>
          <td>{{ bien.subcategoria }}</td>
        </tr>
        <tr>
          <th>Tipo de Alta:</th>
          <td>{{ bien.tipoAlta }}</td>
        </tr>
        <tr>
          <th>Factura Física:</th>
          <td>{{ bien.facturaFisica }}</td>
        </tr>
        <tr>
          <th>Fecha Recepción Factura:</th>
          <td>{{ bien.fechaRecFact }}</td>
        </tr>
        <tr>
          <th>Número de Factura:</th>
          <td>{{ bien.numFact }}</td>
        </tr>
        <tr>
          <th>Fecha Factura:</th>
          <td>{{ bien.fechaFact }}</td>
        </tr>
        <tr>
          <th>Fecha Alta:</th>
          <td>{{ bien.fechaAlta }}</td>
        </tr>
        <tr>
          <th>Costo Adquisición:</th>
          <td>{{ bien.costoAdq }}</td>
        </tr>
        <tr>
          <th>Costo Adquisición Contable:</th>
          <td>{{ bien.costoAdqCont }}</td>
        </tr>
        <tr>
          <th>Depreciación:</th>
          <td>{{ bien.depreciacion }}</td>
        </tr>
        <tr>
          <th>Frecuencia Depreciación:</th>
          <td>{{ bien.frecDepre }}</td>
        </tr>
        <tr>
          <th>% Depreciación Anual:</th>
          <td>{{ bien.porcDepAnual }}</td>
        </tr>
        <tr>
          <th>Meses a Depreciar:</th>
          <td>{{ bien.mesesDepre }}</td>
        </tr>
        <tr>
          <th>Importe Mensual Depreciación:</th>
          <td>{{ bien.impMensDepre }}</td>
        </tr>
        <tr>
          <th>Monto Depreciado:</th>
          <td>{{ bien.montoDepre }}</td>
        </tr>
        <tr>
          <th>Valor en Libros:</th>
          <td>{{ bien.valLibros }}</td>
        </tr>
        <tr>
          <th>Meses Pendientes Depreciación:</th>
          <td>{{ bien.mesesPendDepre }}</td>
        </tr>
        <tr>
          <th>Clave del Proyecto:</th>
          <td>{{ bien.claveProyecto }}</td>
        </tr>
        <tr>
          <th>Aplica Proyecto:</th>
          <td>{{ bien.apProye }}</td>
        </tr>
        <tr>
          <th>Partida Presupuestal:</th>
          <td>{{ bien.partPres }}</td>
        </tr>
        <tr>
          <th>Fuente de Financiamiento:</th>
          <td>{{ bien.fuenteFinan }}</td>
        </tr>
        <tr>
          <th>Número de Cuenta:</th>
          <td>{{ bien.numCuenta }}</td>
        </tr>
        <tr>
          <th>Nombre Proveedor:</th>
          <td>{{ bien.proveedor }}</td>
        </tr>
        <tr>
          <th>RFC del Proveedor:</th>
          <td>{{ bien.rfcProveedor }}</td>
        </tr>
        <tr>
          <th>Domicilio del Proveedor:</th>
          <td>{{ bien.domProveedor }}</td>
        </tr>
        <tr>
          <th>Bienes Menores:</th>
          <td>{{ bien.bienesMenores }}</td>
        </tr>
        <tr>
          <th>Tipo de Resguardo:</th>
          <td>{{ bien.tipoResguardo }}</td>
        </tr>
        <tr>
          <th>Nombre del Resguardante:</th>
          <td>{{ bien.nomRes }}</td>
        </tr>
        <tr>
          <th>Número del Resguardante:</th>
          <td>{{ bien.numRes }}</td>
        </tr>
        <tr>
          <th>Área del Resguardante:</th>
          <td>{{ bien.areaRes }}</td>
        </tr>
        <tr>
          <th>Ubicación del Resguardante:</th>
          <td>{{ bien.ubiRes }}</td>
        </tr>
        <tr>
          <th>Observaciones 1:</th>
          <td>{{ bien.observ1 }}</td>
        </tr>
        <tr>
          <th>Observaciones 2:</th>
          <td>{{ bien.observ2 }}</td>
        </tr>
        <tr>
          <th>Comentario Contable:</th>
          <td>{{ bien.comentCont }}</td>
        </tr>
        <tr>
          <th>Seguimiento de Desincorporación:</th>
          <td>{{ bien.seguimDesinc }}</td>
        </tr>
        <tr>
          <th>Estatus del Bien:</th>
          <td>{{ bien.estatusBien }}</td>
        </tr>
        <tr>
          <th>Motivo de Baja:</th>
          <td>{{ bien.motBaja }}</td>
        </tr>
        <tr>
          <th>Fecha de Baja:</th>
          <td>{{ bien.fechaBaja }}</td>
        </tr>
        <tr>
          <th>Año de Adquisición:</th>
          <td>{{ bien.aAdquisicion }}</td>
        </tr>
        <tr>
          <th>Mes de Adquisición:</th>
          <td>{{ bien.mAdquisicion }}</td>
        </tr>
        <tr>
          <th>Foto del Bien:</th>
          <td>{{ bien.fotoBien }}</td>
        </tr>
        <tr>
          <th>Perfil del Resguardante:</th>
          <td>{{ bien.perfilRes }}</td>
        </tr>
        <tr>
          <th>Puesto del Resguardante:</th>
          <td>{{ bien.puestoRes }}</td>
        </tr>
        <tr>
          <th>Estatus del Resguardante:</th>
          <td>{{ bien.estatusRes }}</td>
        </tr>
        <tr>
          <th>Correo Personal del Resguardante:</th>
          <td>{{ bien.correoPerRes }}</td>
        </tr>
        <tr>
          <th>Correo Institucional del Resguardante:</th>
          <td>{{ bien.correoInstRes }}</td>
        </tr>
        <tr>
          <th>Resguardo 2016 y años anteriores:</th>
          <td>{{ bien.res16Ant }}</td>
        </tr>
        <tr>
          <th>Resguardo 2017 Si/No:</th>
          <td>{{ bien.res17 }}</td>
        </tr>
        <tr>
          <th>Resguardo 2018 Si/No:</th>
          <td>{{ bien.res18 }}</td>
        </tr>
        <tr>
          <th>Resguardo 2019 Si/No:</th>
          <td>{{ bien.res19 }}</td>
        </tr>
        <tr>
          <th>Resguardo 2020 Si/No:</th>
          <td>{{ bien.res20 }}</td>
        </tr>
        <tr>
          <th>Resguardo 2021 Si/No:</th>
          <td>{{ bien.res21 }}</td>
        </tr>
        <tr>
          <th>Resguardo 2022 Si/No:</th>
          <td>{{ bien.res22 }}</td>
        </tr>
        <tr>
          <th>Resguardo 2023 Si/No:</th>
          <td>{{ bien.res23 }}</td>
        </tr>
        <tr>
          <th>Resguardo 2024 Si/No:</th>
          <td>{{ bien.res24 }}</td>
        </tr>
        <tr>
          <th>Estatus del Resguardo:</th>
          <td>{{ bien.estatusResguardo }}</td>
        </tr>
        <tr>
          <th>Último Resguardo:</th>
          <td>{{ bien.ultimoResguardo }}</td>
        </tr>
        <tr>
          <th>Etiqueta:</th>
          <td>{{ bien.etiqueta }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

      </div>
  
      <div class="modal-footer">
        <button class="btn-imprimir" type="button" (click)="printBienInfo()">Imprimir</button>

      </div>
    </div>
  </div>
  